<%- include("partials/header"); -%>

      <main>
        <section>
          <h3>About Us</h3>
          <p>"Life is an event. Make it memorable!" Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nobis temporibus. Fugiat eveniet adipisci pariatur ipsa repellendus illum quisquam, animi, ut voluptatem id voluptatum aliquid maiores ducimus optio reiciendis velit sit voluptates. Similique impedit quod quis porro quisquam debitis autem veritatis eaque ipsam eius. Sit deleniti earum tenetur provident qui, illo temporibus a esse fuga cum voluptatem vero, ipsum rerum ad eveniet dicta vitae mollitia nihil nam. Voluptas quasi iste amet excepturi itaque id. Possimus voluptatem exercitationem repellat voluptates vitae voluptate voluptas blanditiis accusantium, iusto rerum, adipisci alias fugiat ratione similique natus sapiente explicabo quis saepe harum, totam fugit.</p>

        </section>
      </main>

<%- include("partials/footer"); -%>