<%- include("partials/header"); -%>

<main>
  <section>
    <h3>Welcome To Events Expo.</h3>
    <h1>
      VISIT   vdzfdbbbbbbbbbbbbbbbb FOR 
      <span style="margin-top: -10px"> </span>
    </h1>
    <p>"Life is an event. Make it memorable!"</p>
    
    <div class="classbtns">  
      <a href="/login" class="btnone">Login</a>
      <a href="/signup_owner">Signin as a Owner</a>
      <a href="/login_owner">Login as a Owner</a>
      <a href="/signup" class="btntwo">Signup</a>
    </div>
    
  </section>
</main>
    <p id="about">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia consectetur dolore laborum. Vero commodi repellendus, veritatis aliquid voluptatem perferendis cum eius maiores, enim excepturi possimus! Praesentium eaque exercitationem tenetur est sit dicta ipsa quisquam a optio doloribus quos labore assumenda architecto quod, minima aut, accusantium amet suscipit sint quo! Tenetur, quibusdam, at odio debitis fugit mollitia impedit error deleniti quia atque esse cumque vel beatae ipsa consectetur. Enim rerum deleniti eius iure repudiandae, voluptates, delectus impedit porro dicta tempore provident at architecto sint ducimus rem explicabo. Iusto sint quibusdam cupiditate cumque accusantium quo molestiae? Consectetur omnis obcaecati minima repudiandae delectus ex ducimus facere tenetur aliquam odit. Excepturi deleniti atque quae consequuntur earum est minima, ea officia rem architecto tenetur labore aliquid illum quam assumenda ipsa necessitatibus ipsum laudantium, nam obcaecati! Excepturi maxime atque blanditiis quam quos quisquam dolor. Quibusdam qui iure consequuntur in placeat dolor aperiam voluptate sed sint. Tenetur eveniet numquam sapiente quae maxime explicabo tempora blanditiis beatae inventore, quas cupiditate ex laborum laboriosam! Expedita consequuntur quia?</p>

    <main>
      <section id="gallery">
        <h3>Gallery</h3><br><hr><br>
        <p>"Life is an event. Make it memorable!" Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nobis temporibus. Fugiat eveniet adipisci pariatur ipsa repellendus illum quisquam, animi, ut voluptatem id voluptatum aliquid maiores ducimus optio reiciendis velit sit voluptates. Similique impedit quod quis porro quisquam debitis autem veritatis eaque ipsam eius. Sit deleniti earum tenetur provident qui, illo temporibus a esse fuga cum voluptatem vero, ipsum rerum ad eveniet dicta vitae mollitia nihil nam. Voluptas quasi iste amet excepturi itaque id. Possimus voluptatem exercitationem repellat voluptates vitae voluptate voluptas blanditiis accusantium, iusto rerum, adipisci alias fugiat ratione similique natus sapiente explicabo quis saepe harum, totam fugit.</p>

      </section>
    </main>

<%- include("partials/footer"); -%>