<h1>login</h1>
<br><%=loginPhrase%>
<form action="/login_owner" method="POST">
	<input type="text" name="username"
		placeholder="username">
	<input type="password" name="password"
		placeholder="password">
	<button>login</button>
</form>

<h1>This is home page</h1>

<li><a href="/signup_owner">Sign up!!</a></li>
<li><a href="/login_owner">Login</a></li>
<li><a href="/logout">Logout</a></li>
