<h1>Owner</h1>
<br />
Name: <%=owner.name%><br />
Mobile: <%=owner.mNumber%><br />
Email: <%=owner.username%><br />

<h1>Venues</h1>
<div class="name" id="data"></div>
<button id="addbtn">Add Venue</button>
<br />
<li><a href="/logout">Logout</a></li>


